## 함수(function)

In [4]:
# 사각형의 가로와 세로의 길이를 이용해서 면적과 둘레를 구하는 코드

height = 50
width = 20

area = height * width
perimeter = (height+width)*2 

print(f'사각형의 면적은 {area}이고 둘레는 {perimeter}입니다.')
print(area)
print(perimeter)

사각형의 면적은 1000이고 둘레는 140입니다.
1000
140

In [5]:
# 사각형의 가로와 세로의 길이를 이용해서 면적과 둘레를 구하는 코드

height2 = 30
width2 = 15

area2 = height2 * width2
perimeter2 = (height2+width2)*2 

print(f'사각형의 면적은 {area2}이고 둘레는 {perimeter2}입니다.')
print(area2)
print(perimeter2)

사각형의 면적은 450이고 둘레는 90입니다.
450
90

## 함수의 선언과 호출
- 선언
```python
def func_name(parameter1, parameter2, ...):
    code1
    code2
    ...
    return value
```

- 호출
   - `fun_name(parameter1, parameter2, ...)`

In [7]:
def rectangle(height, width):
    area = height * width
    perimeter = (height + width) * 2

    print(f'사각형의 면적은 {area}입니다. 둘레는 {perimeter}입니다.')

In [9]:
rectangle(50,30)
rectangle(20,100)

사각형의 면적은 1500입니다. 둘레는 160입니다.
사각형의 면적은 2000입니다. 둘레는 240입니다.

In [11]:
max (1,2)

2

In [10]:
dir(__builtins__)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BaseExceptionGroup',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EncodingWarning',
 'EnvironmentError',
 'Exception',
 'ExceptionGroup',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'PythonFinalizationError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'WindowsError',
 'ZeroDivisionError',
 '_IncompleteInputError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'aiter',
 'all',
 'anext',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'execfile',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'runfile',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

In [13]:
def my_max(num1, num2):
    if num1 > num2:
        print(num1)
    elif num1 == num2:
        print('same')
    else:
        print(num2)

In [18]:
my_max(5,24)

24

## 함수의 return

- 함수가 return을 만나면 해당값을 반환하고 함수를 종료
- 만약 return이 없는 경우 None을 자동으로 반환
- return은 오직 하나의 객체만 반환한다.

In [20]:
result = my_max (1,2)
print(result)

# result *2

2
None

In [22]:
def my_max2(num1, num2):
    if num1> num2:
        return num1
    else:
        return num2

In [25]:
result = my_max2(1,2)
print(result)

2

In [29]:
def my_for(x):
    for i in range(x):
        print(i)
        if i == 3:
            return i
my_for(5)

0
1
2
3

3

In [30]:
def my_def(x):
    return (x * 2 , x)

my_def(10)

(20, 10)

In [32]:
#
def my_list_max():
    pass

In [ ]:
my_list_max([1,2,3], [2,3,4])
# => [2,3,4]

# 각 리스트 합 구하기 > 비교

In [42]:
list_1 = [1,2,3]
list_2 = [2,3,4]

def my_list_max(list_1,list_2):
    result = 0
    result2 = 0

    for number in list_1:
        result = result + number
        print(result)
    
    for number2 in list_2:
        result2= result2 + number2
        print(result2)

if result > result2:
    print(result)
else:
    print(result2)

9

In [52]:
#답안 version1

def my_list_max(list_1,list_2):

    sum_of_list_1 = list_1[0] + list_1[1] + list_1[2]
    sum_of_list_2 = list_2[0] + list_2[1] + list_2[2]

    if sum_of_list_1 > sum_of_list_2:
        return list_1
    else:
        return list_2

In [53]:
my_list_max([1,2,3] , [2,3,4])

[2, 3, 4]

In [56]:
#답안 version2

def my_list_max(list1,list2):
    sum_of_list1 = 0
    sum_of_list2 = 0

    for item in list1:
        sum_of_list1 = sum_of_list1 + item

    for item in list2:
        sum_of_list2 += item
        
    if sum_of_list1 > sum_of_list2:
        return list1
    else:
        return list2

In [57]:
my_list_max([1,2,3] , [2,3,4])

[2, 3, 4]

In [ ]:
# 답안 version3

def my_list_max(list1, list2):
    sum_of_list1 = sum(list1)
    sum_of_list2 = sum(list2)

    if sum_of_list1 > sum_of_list2:
        return list1
    else:
        return list2

In [58]:
my_list_max([1,2,3] , [2,3,4])

[2, 3, 4]

## 함수의 인수

#### 위치인수
- 기본적으로 함수는 취이를 기준으로 인수를 판단합니다.

In [60]:
def cylinder (r,h):
    return 3.14 * r ** 2 * h

In [61]:
cylinder(3,10)

282.6

### 기본값
    
```python 
def func_name(p1=v1):
    code1
    return value
```

In [66]:
def greeting(name='익명'):
    return f'{name}님 반갑습니다.'

In [68]:
greeting()

'익명님 반갑습니다.'

In [74]:
print('안녕하세요', '반갑습니다', sep ='***', end='!!!!\n')
print('저는 오창희입니다.')

안녕하세요***반갑습니다!!!!
저는 오창희입니다.

In [78]:
def greeting (name='익명',age):
    return f'{name}님의 나이는 {age}살 입니다.'

SyntaxError: parameter without a default follows parameter with a default (465294660.py, line 1)

In [80]:
def greeting (age, name='익명'):
    return f'{name}님의 나이는 {age}살 입니다.'

In [82]:
greeting (10, )

'익명님의 나이는 10살 입니다.'

#### 키워드 인수
- 함수를 호출(실행)할 때 내가 원하는 위치에 직접적으로 값을 전달

In [83]:
def greeting (age, name='익명'):
    return f'{name}님은 {age}살입니다.'

In [86]:
greeting(10, '길동')
greeting(10)
greeting(name= '길동' , age=10)

'길동님은 10살입니다.'

### 가변인자 리스트
```python
def func_name(*parms):
    code
    ...
    return value
```

In [ ]:
print my_print (*words):
    print(words)

In [88]:
my_print('my' , 'name', 'is', 1,2,3,4)

NameError: name 'my_print' is not defined

In [89]:
max(1,2,3,4,5,6,7)

7

In [95]:
def my_max(*numbers):
    #numbers = (1,2,3,4,5,6,7)
    #max_num = 0
    max_num = numbers[0]
    
    for number in numbers:
        if max_num < number:
            max_num = number

    return max_num

In [94]:
my_max(1,2,100,34,55)

100

### 정의되지 않은 키워드 인자 처리하기
```python
def func_name(**kwargs):
    return value
```

In [1]:
info ={
    'name' : 'hong',
    'age' : 10,
}
print(info)

{'name': 'hong', 'age': 10}

In [5]:
info = dict(name='kim' ,age=20)
print(info)

{'name': 'kim', 'age': 20}

In [8]:
def my_dict(**kwargs):
    print(kwargs)

my_dict(asdf= '가나다' , age=123, test='asdf')

{'asdf': '가나다', 'age': 123, 'test': 'asdf'}

In [11]:
def my_func(params1, params2='temp', *number, **kwargs):
    return 0

In [21]:
#my_func() => params1 부족
my_func(123)
# => params1 =123 , params2= 'temp'
my_func(123,234)
# => params1 =123 , params2 =234
my_func(123,234,345,567,789,890)
# => parmas1 = 123 , params2 =234 , numbers = (345,567,789,890)
my_func(123,234,345,567,789,890, a=1, b=2, c=3)
# kwargs = {a:1 , b:2 , c:3}

0

### lambda 표현식
```python
lambda parameter : expression

In [22]:
def my_sum(num1, num2):
    return num1 + num2

In [23]:
my_sum(1,2)

3

In [26]:
(lambda num1, num2: num1 + num2)(1,2)

3

### 타입힌트

In [33]:
def something(a: int, b: int) -> int:
    return a + b

something(1, 2)

3

In [36]:
something('adfdfd', 'qwer')

'adfdfdqwer'

### 이름공간(namescope) , 스코프(scope)
python에서 사용하는 이름들은 이름공간에 저장되어 있습니다.

1. Local :정의된 함수 내부
2. Enclosed : 상위 함수
3. Global : 함수 밖
4. Built-iin : python이 기본적으로 가지고 있는 함수

In [60]:
result = str(123)
print(result)

123

In [56]:
str = 'hello'

In [58]:
result = str(123)
print(result)

TypeError: 'str' object is not callable

In [61]:
del str #선언한 변수 삭제

NameError: name 'str' is not defined

In [66]:
a= 1
def local_scope(a):
    return a

a= '가나다라'
local_scope('asdf')

'asdf'

In [68]:
my_list = [1,2,3,4,5]
for i in my_list:
    print(i)
print(i)

1
2
3
4
5
5

In [71]:
a = 0

def global_scope():
    global a
    a = a + 1
    return a

global_scope()

1

### 재귀
함수 내부에서 자기 자신을 호출하는 함수

```
n! = 1 * 2 * 3 * ... * n
1! = 1
2! = 1 * 2 = 1! *2
3! = 1 * 2 * 3 = 2! * 3
n! = (n-1)! * n 
```

In [72]:
def fact(n) :
    if n == 1:
        return 1
    else:
        return fact(n-1) * n

In [73]:
fact(10)

3628800

In [75]:
# 피보나치 수열
def fib(n):
    if n == 0 or n == 1:
        return 1
    else:
        return fib(n-2) + fib(n-1)

In [77]:
fib(10)

89