### 자료구조
> 여러가지 자료구조가 가지고 있는 메소드(함수) 알아보기

In [3]:
print(dir('hello'))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

### 문자열 메소드

In [4]:
a = 'hello my name is hong'

In [5]:
print(a)

hello my name is hong

In [6]:
a [0] = 'H'

TypeError: 'str' object does not support item assignment

In [7]:
a.capitalize()  => # 문장 시작 글자를 대문자로 바꿈

'Hello my name is hong'

In [11]:
print (a)

hello my name is hong

In [12]:
a.title() = > # 문장에 첫 단어 시작을 모두 대문자로

'Hello My Name Is Hong'

In [13]:
a.lower() => # 문장 첫 단어를 모두 소문자로

'hello my name is hong'

In [14]:
a.upper() => # 문장 단어 모두 대문자로

'HELLO MY NAME IS HONG'

In [17]:
my_list = ['my' , 'name' , 'is']
'!'.join(my_list) => # ! 기준으로 합침

'my!name!is'

In [18]:
'?'.join('배고프다')

'배?고?프?다'

In [27]:
a = '        hello      \n'
a.strip() #문자의 공백을 없애줌

'hello'

In [28]:
a = '!!!!!!!!!!!hello????????'
a.strip('!') # !값을 지움

# def strip(char='')

'hello????????'

In [31]:
a = '--------hello--------'
a.lstrip('-') # 왼쪽에 있는 - 만 지워주세요

'hello--------'

In [32]:
a = '--------hello--------'
a.rstrip('-') # 오른쪽에 있는 - 만 지워주세요

'--------hello'

In [33]:
a = 'wooooooow'
a.replace('o' , '!', 3)

'w!!!oooow'

In [36]:
a = 'apple'
a.find('a') # a 찾아줘
a.find('l') # 3
a.find('p') #1
a.find('z') #-1

-1

In [35]:
a = 'apple'
a.index('a')
a.index('l')
a.index('p')
a.index('z')

ValueError: substring not found

In [38]:
a = 'my name is hong'
a.split()

['my', 'name', 'is', 'hong']

In [39]:
a = 'my!name!is?hong'
a.split('!') # ! 기준으로 나눠주세요

['my', 'name', 'is?hong']

In [40]:
a = 'wooooow'
a.count('o')

5

### 리스트 메소드

In [57]:
numbers = [2, 6, 1, 4, 8, 3, 2, 8]

In [58]:
numbers.append(10) # => 리스트의 맨 끝에 값을 추가하는 함수
print(numbers)

[2, 6, 1, 4, 8, 3, 2, 8, 10]

In [59]:
a = [99, 100]

In [60]:
numbers.extend(a) # => numbers + a
print(numbers)

[2, 6, 1, 4, 8, 3, 2, 8, 10, 99, 100]

In [61]:
numbers.insert(3, 5) # => 위치를 지정했을 때만 사용 가능
print(numbers)

[2, 6, 1, 5, 4, 8, 3, 2, 8, 10, 99, 100]

In [62]:
# 첫번째 x 를 찾아서 제거, 없으면 오류
numbers.remove(8)
print(numbers)

[2, 6, 1, 5, 4, 3, 2, 8, 10, 99, 100]

In [63]:
numbers.pop() # => 리스트 마지막에 있는 값 제거
print(numbers)

[2, 6, 1, 5, 4, 3, 2, 8, 10, 99]

In [64]:
numbers.pop(0) # => 0을 넣으면 맨 앞에 있는 값 제거
print(numbers)

[6, 1, 5, 4, 3, 2, 8, 10, 99]

In [65]:
numbers.sort() # => 리스트에 있는 수들을 오름차순으로 정렬
print(numbers)

[1, 2, 3, 4, 5, 6, 8, 10, 99]

In [68]:
numbers.sort(reverse=True) # => 내림차순으로 정렬
print(numbers)

[99, 10, 8, 6, 5, 4, 3, 2, 1]

In [71]:
a =[5, 3, 2, 7, 8, 1]
print(sorted (a))
print(a)

#sort는 원본을 바꾸고 sorted는 원본은 안 바꾸고 값을 출력

[1, 2, 3, 5, 7, 8]
[5, 3, 2, 7, 8, 1]

In [73]:
my_list = ['a', 'e', 'o', 'b', 'z']
my_list.sort()
print(my_list)

['a', 'b', 'e', 'o', 'z']

In [77]:
print(numbers)
numbers.reverse()
print(numbers)

[99, 10, 8, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 8, 10, 99]

In [78]:
numbers.count(10) # => 똑같은 요소가 몇 개가 있는지

1

### list copy

In [79]:
origin_list = [1, 2, 3]
copy_list = origin_list

In [81]:
print(origin_list)
print(copy_list)

[1, 2, 3]
[1, 2, 3]

In [82]:
copy_list[0] = 100
print(origin_list)
print(copy_list)

[100, 2, 3]
[100, 2, 3]

In [83]:
origin_list = [1, 2, 3]
copy_list = origin_list [:] # => slicing 을 해주세요. 원본에 있는 리스트를 처음부터 슬라이싱 해서 넣어주세요 

copy_list[0] = 100

print(origin_list)
print(copy_list)

[1, 2, 3]
[100, 2, 3]

In [88]:
o_l = [1, 2, [10, 11]]
c_l = o_l [:]

c_l [0] = 100
c_l [2][0] = -10

print(o_l)
print(c_l)

[1, 2, [-10, 11]]
[100, 2, [-10, 11]]

In [96]:
import copy
o_l = [1,2,[10,11]]
c_l = copy.deepcopy(o_l)

c_l[0] = 100
c_l[2][1] = -11

print(o_l)
print(c_l)

[1, 2, [10, 11]]
[100, 2, [10, -11]]

### list comprehension

In [97]:
numbers = list(range(1,11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [102]:
result = []

for number in numbers :
    temp = number ** 3
    result.append(temp)
    print(result)

[1]
[1, 8]
[1, 8, 27]
[1, 8, 27, 64]
[1, 8, 27, 64, 125]
[1, 8, 27, 64, 125, 216]
[1, 8, 27, 64, 125, 216, 343]
[1, 8, 27, 64, 125, 216, 343, 512]
[1, 8, 27, 64, 125, 216, 343, 512, 729]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [103]:
result = [number **3 for number in numbers]
 #result = [number1 **3, number2***3, number3, **3]
print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [105]:
# 짝수만고르기

numbers = list(range(1,31))
result = []

for number in numbers:
    if number %2 == 0:
        result.append(number)

print (result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [110]:
numbers = list(range(1,31))
result = [number *2 for number in numbers if number %2 == 0 ]
print(result)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60]

In [111]:
# 연습! 모음제거
words = 'my name is hong'

# => my nm s hng

In [114]:
# 1. for / if

In [136]:
words = 'my name is hong'
vowel = 'a' ,'e', 'i', 'o', 'u'

for word in words:
    if words == [vowel]
    print(words.remove(vowels))

SyntaxError: expected ':' (769472444.py, line 5)

In [147]:
words = 'my name is hong'
vowels = ['a' ,'e', 'i', 'o', 'u']
result = []
# 모음인 경우
for char in words :
    if char in vowels:
        pass
   #자음인 경우
    else:
        result.append(char)

print(result)
print(''.join(result))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [148]:
words = 'my name is hong'
vowels = ['a' ,'e', 'i', 'o', 'u']
result = []
for char in words :
    #모음이 아닌 경우
    if char not in vowels:
        result.append(char)

print(result)
print(''.join(result))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [151]:
# 2. List comprehension 
vowels = 'aeiou'
result = [char for char in words if char not in vowels]
print(result)
print(''.join(result))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [152]:
''.join([char for char in words if char not in 'aeiou'])

'my nm s hng'

In [154]:
#3 replace 메소드
vowels = 'aeiou'

for char in vowels:
    words = words.replace(char, '')

print(words)

my nm s hng

### dictionary 메소드

In [4]:
info = {
    'name' : 'hong',
    'location' : 'seoul',
    'age' : 20,
    'phone_book' : {
        'kim' : '010-1234-1234',
        'park' : '010-4321-4321'
    },
    'models' : ['iphone', 'ipad'],
}

In [11]:
print(info['name'])
print(info['age'])
print(info['phone_book']['park'])
print(info['models'][1])

hong
20
010-4321-4321
ipad

In [12]:
info['name'] = 'lee'
print(info)

{'name': 'lee', 'location': 'seoul', 'age': 20, 'phone_book': {'kim': '010-1234-1234', 'park': '010-4321-4321'}, 'models': ['iphone', 'ipad']}

In [15]:
info.update(name = 'choi')
print(info)

{'name': 'choi', 'location': 'seoul', 'age': 20, 'phone_book': {'kim': '010-1234-1234', 'park': '010-4321-4321'}, 'models': ['iphone', 'ipad']}

In [16]:
info.pop('location')
print(info)

{'name': 'choi', 'age': 20, 'phone_book': {'kim': '010-1234-1234', 'park': '010-4321-4321'}, 'models': ['iphone', 'ipad']}

In [18]:
print(info.get('name'))
print(info['name'])

choi
choi

In [19]:
print(info.get('birth')) # get 넣으면 none 이라는 결과값 반영

None

In [20]:
print(info['birth']) # get 없으면 오류로 뜸

KeyError: 'birth'

In [33]:
# 연습문제
blood_type = ['A', 'B', 'A', 'B', 'O', 'AB', 'A', 'A', 'AB']

result = {'A' : 0,'B' : 0,'AB' : 0,'O' : 0}

for blood in blood_type:
    # result['A']
    result[blood] += 1

print(result)

{'A': 4, 'B': 2, 'AB': 2, 'O': 1}

In [37]:
locations = ['서울', '서울', '대전', '부산','대구']
result = {}

for location in locations:
    #if location이 result key 목록에 있으면?:
    if location in result.keys():
          #기존데이터에 +1
        result[location]+= 1
      #else: 목록에 없다면
        #새로운 키를 등록하고 기본값을 1을 지정
    else:
        result[location] = 1
print(result)

{'서울': 2, '대전': 1, '부산': 1, '대구': 1}

In [36]:
locations = ['서울', '서울', '대전', '부산','대구']
result = {}

for location in locations:
    if result.get(location):
        result[location]+= 1
    else:
        result[location] = 1
print(result)

{'서울': 2, '대전': 1, '부산': 1, '대구': 1}

### dict comprehension

In [41]:
# {1:1, 2:8, 3:27, ..., 10:1000}

result = {}
numbers = range(1,11)

for number in numbers:
    result[number] = number **3
    
print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [43]:
result = {number: number**3 for number in range(1,11)}
print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [44]:
dust = {
    '서울':50,
    '인천':100,
    '수원':30,
    '부산':0,
}

In [48]:
#1 for
result = {}
for key,value in dust.items():
    # key, value = ('서울', 50)
    # item = ('서울', 50)
    print(key, value)

    if value <= 30:
        result[key] = value
print(result)

서울 50
인천 100
수원 30
부산 0
{'수원': 30, '부산': 0}

In [49]:
#2. comp

result = {for k: '매우좋음' in dust.items() if v <= 30}
print(result)

SyntaxError: invalid syntax (2536526008.py, line 3)

### set 메소드

In [50]:
fruits = {'apple', 'banana', 'melon'}

In [51]:
print(fruits)

{'banana', 'apple', 'melon'}

In [52]:
fruits.add('watermelon')
print(fruits)

{'banana', 'watermelon', 'apple', 'melon'}

In [53]:
fruits.update({'orange','grape'})
print(fruits)

{'grape', 'banana', 'watermelon', 'apple', 'melon', 'orange'}

In [54]:
fruits.remove('apple')
print(fruits)

{'grape', 'banana', 'watermelon', 'melon', 'orange'}

In [55]:
fruits.pop()
print(fruits)

{'banana', 'watermelon', 'melon', 'orange'}

### map, filter, zip

## map
- map(function, iterable)
    - iterable => 시퀀스타입

In [56]:
numbers = [1, 2, 3, 4, 5]
# => ['1', '2', '3', '4', '5']

result = []
for number in numbers:
    result.append(str(number))
print(result)

['1', '2', '3', '4', '5']

In [59]:
result = map(str, numbers)
print(result)
print(list(result))

<map object at 0x000001BAE4C590F0>
['1', '2', '3', '4', '5']

In [60]:
numbers = [1, 2, 3, 4, 5]
# => [1, 8, 27, 64, 125]

result = []
for number in numbers:
    result.append(number**3)

print(result)

[1, 8, 27, 64, 125]

In [61]:
def cube(x):
    return x ** 3

In [62]:
result = map(cube, numbers)
print(result)
print(lsit(result))

<map object at 0x000001BAE4C5ABF0>

NameError: name 'lsit' is not defined

In [65]:
test_input = '1 3 5 7 9'
#1. 띄어쓰기 기준으로 나눈다
test_input.split()
#2. 각 글자를 숫자로 바꾼다
map(int, test_input.split())
#3. 리스트에 저장한다
result = list(map(int, test_input.split()))

print(result)

[1, 3, 5, 7, 9]

### filter
- filter(function, iterable)

In [67]:
numbers = [1, 2, 3, 4, 5, 6]

result = []
for number in numbers:
    if number % 2 == 1:
        result.append(number)
print(result)

[1, 3, 5]

In [66]:
def is_odd(x):
    return x % 2

In [68]:
result = filter(is_odd, numbers)
print(result)
print(list(result))

<filter object at 0x000001BAE4C5AC20>
[1, 3, 5]

### zip

In [69]:
a = [1, 2, 3]
b = [100, 200, 300]

result = zip(a,b)
print(result)
print(list(result))

<zip object at 0x000001BAE5194F80>
[(1, 100), (2, 200), (3, 300)]